//Variables
$black: #000;
$white: #fff;

$font-main: 'Montserrat', sans-serif;
$font-big-size: 8rem;
$font-middle-size: 2rem;

body {
    height: auto;
    width: 100%;
    margin: 0 auto;
    font-family: $font-main !important;
    overflow-x: hidden;
}

html {
    font-family: $font-main !important;
}

.master{
    max-width: 1100px;
    margin: 0 auto; 
}
.master.layout-1{
    background-color: $white;
}
.general {
    width: 100%;
    height: 100vh;
    background-color: $white;
}
.carousel-beta{
    // overflow-y: scroll !important;
    transform: none !important;
    margin: 0 auto;
    overflow-y: scroll !important;
}

::-webkit-scrollbar {
    width: 1px;
}
/* Track */
::-webkit-scrollbar-track {
    background: transparent; 
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: transparent; 
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: transparent; 
}
.av {
    display: block;
    position: relative;
    top: 50% !important;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.ah {
    display: block;
    margin-left:50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}
.ac {
   display: block;
    position: relative;
    left:50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translateX(-50%,-50%);
    transform: translateX(-50%,-50%);
}
.logo-fixed{
    position: absolute;
    width: 50px;
    height: 50px;
    z-index: 9999;
    top: 2rem;
    left: 2.6rem;
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.logo-fixed.white{
    background-image: url(../images/logo-white.png);
}
.header-fixed{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    height: 7.5rem;
}
.header-fixed.black{
    background-color: $black;
}
.next-style{
    position: fixed;
    right: -1rem;
    top: 50%;
    transform: translateY(-50%);
    transform: rotate(-90deg);
    font-size: .7rem;
    font-weight:700;
    cursor: pointer;
}

.prev-style{
    position: fixed;
    left: .5rem;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    transform: rotate(-90deg);
    font-size: .7rem;
    cursor: pointer;
    font-weight: 500;
    color: $white;
}

.fixed-left{
    position: fixed;
    left: .5rem;
    text-align: center;
    transform: translateY(-50%);
    top: 50%;
    font-size: .7rem;
    transform: rotate(-90deg);
    cursor: pointer;
    font-weight: 700;
}

.fixed-right{
    cursor: pointer;
    position: absolute;
    right: -1rem;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    top: 50%;
    transform: rotate(-90deg);
    font-size: .7rem;
    font-weight: 500;
    color: $white;
}

.line-left{
    position: absolute;
    width: 5px;
    height: 50px;
    left: 0;
    background-color: $black;
    transform: translateY(-35%);
    top: 50%;
}

.line-right{
    position: absolute;
    width: 5px;
    right: 0;
    height: 50px;
    background-color: $white;
    transform: translateY(-52%);
    top: 51.5%;
}

.container-rows{
    margin-top: 0;
    padding-top: 10rem;
    width: 100%;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-gap: 55px;
    background-color: #fff;
    color: #444;
}
.rows-item{
    cursor: pointer;
    height: auto;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.rows-item .pic-pro{
    width: 100%;
    height: auto;
}
.rows-item.p1{
    background-image: url(../images/p1.jpg);
}
.rows-item.p2{
    background-image: url(../images/p2.jpg);
}
.rows-item.p3{
    background-image: url(../images/p3.jpg);
}
.rows-item.p4{
    background-image: url(../images/p4.jpg);
}
.rows-item.p5{
    background-image: url(../images/p5.jpg);
}
.rows-item.p6{
    background-image: url(../images/p6.jpg);
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0,0,0,0.75);
}
  
.rows-item:hover .overlay {
    opacity: 1;
}
.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    font-weight: 400;
    width: 100%;
    letter-spacing: 2px;
    font-size: 1.1rem;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
.title-main{
    font-size: 1.5rem;
    text-transform: uppercase;
    color: $black;
    font-weight: 300;
    letter-spacing: 2px;
    text-align: center;
}
.title-main.white{
    color: $white;
    background-color: $black;
}
.bold-text{
    font-weight: 600;
}
.modal-backdrop.show {
    opacity: .8 !important;
}
.modal-header{
    position: fixed;
    width: 45rem !important;
    border-bottom: 1px solid transparent !important;
}
.modal-dialog {
    max-width: 750px !important;
    margin: 8rem auto !important; 
    border-radius: 0 !important;
    position: initial !important;
}
.modal-content{
    position: initial !important;
    height: auto;
    background-color: transparent !important;
}
.modalContent .pro-img-complete{
    height: 100%;
    width: 100%;
}
.btn-close{
    position: fixed;
    right: 9rem;
    top: 10rem;
    background-color: #9E9E9E;
    border-radius: 100%;
    cursor: pointer;
    width: 40px;
    height: 40px;
    z-index: 999999999999999 !important;
    background-position: center;
    background-size: 12px;
    background-image: url(../images/close.png);
    background-repeat: no-repeat;
    transition: 0.3s;
}
.modal-header .close {
    background-color: #9E9E9E;
    color: #9E9E9E;
    text-shadow: none;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    margin-top: .5rem !important;
    background-size: 12px;
    background-position: center;
    background-image: url(../images/close.png);
    background-repeat: no-repeat;
    transition: 0.3s;
    opacity: 1;
}
.modal-header .close:hover, .modal-header .close:focus{
    color: #9E9E9E !important;
    text-shadow: none !important;
    outline: none !important;
}
.btn-close:hover{
    opacity: 0.75;
    transition: 0.3s;
}
.spin{
    margin-top: 10px !important;
    margin-left: 10px !important;
}

.container-about {
    width: 100%;
    height: calc(100vh - 7.5rem);
    margin-top: 7.5rem;
    background-color: $black;
}
.container-about .picture{
    height: 100%;
    width: 40%;
    display: inline-block;
    background-image: url(../images/retrato.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    vertical-align: top;
}
.container-about .about{
    height: 100%;
    vertical-align: top;
    width: 60%;
    display: inline-block;
}
.container-about .about .text-big-h{
    color: #999;
    font-weight: 700;
    opacity: .25;
    font-size: 8rem;
    text-align: left;
    letter-spacing: 10px;
    width: 100%;
    display: inline-block;
}
.about .text-about{
    font-size: .85rem;
    width: 55%;
    opacity: .62;
    color: $white;
    font-weight: 400;
    text-align: left;
    display: inline-block;
    margin-top: 0px;
    line-height: 22px;
}
.title-middle{
    display: inline-block;
    margin-top: 20px;
    text-align: left;
    font-size: 1.8rem;
    width: 100%;
    color: #999;
    font-weight: 700;
    opacity: .25;
    letter-spacing: 2px;
}
.title-small{
    font-size: .85rem;
    opacity: .62;
    color: $white;
    margin-top: -5px;
    width: 100%;
    font-weight: 400;
    text-align: left;
    display: inline-block;
}
.rr{
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-top: 8px;
    margin-right: 12px;
    cursor: pointer;
    transition: 0.4s;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
    .rr.r1{
        background-image: url(../images/instagram.png);
    }
    .rr.r2{
        background-image: url(../images/dribble.png);
    }
    .rr.r3{
        background-image: url(../images/behance.png);
    }

    .rr:hover{
        opacity: .5;
        transition: 0.4s;
    }
    .first-part{
        background-color: $white;
        height: 50vh;
        width: 100%;
        display: inline-block;
        position: relative;
    }
    .first-part.second{
        background-color: $black;
        padding: 10px 0;
        overflow-y: scroll !important;
    }
    .first-part .log-out{
        position: absolute;
        right: 2rem;
        top: 2rem;
    }
    .first-part.second .project-admin{
        width: 90%;
        margin-top: 2rem;
        margin-left: 3rem;
        height: auto;
    }
    .project-admin .img-admin{
        width: 45px;
        height: 45px;
        display: inline-block;
        margin-left: 10px;
    }
    .name-admin{
        display: inline-block;
        vertical-align: middle;
        margin-left: 20px;
        color: $white;
        font-weight: 600;
        margin-top: 1.2rem;
        letter-spacing: 1px;
        font-size: .87rem;
    }
    .name-admin.date{
        font-weight: 400;
        margin-left: 5px;
    }
    .back-pro{
        height: 100px;
        width: 100px;
    }
//Cpanel
.general-admin{
    width: 100%;
    height: 100vh;
    position: relative;
}
.form-admin{
    width: 22rem;
    height: auto;
    margin-left: 50%;
    position: absolute;
    top: 14rem;
    transform: translateX(-50%);
}
.form-admin .logo-form{
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
}
.form-admin .input-form-admin{
    width: 100%;
    border-radius: 20px;
    outline: none;
    background-color: $black;
    color: rgba(255,255,255,0.85);
    border: none;
    padding: 6px 20px;
    font-weight: 500;
    margin-bottom: 12px;
    font-size: 0.9rem;
    text-align: left;
}
.input-new-project{
    width: 30%;
    border-radius: 20px;
    margin-top: 2.2rem;
    outline: none;
    background-color: $black;
    color: rgba(255,255,255,0.85);
    border: none;
    padding: 7px 20px;
    font-weight: 500;
    margin-bottom: 12px;
    font-size: 0.9rem;
    text-align: left;
    margin-right: 20px;
    display: inline-block;
    vertical-align: middle;
}
.input-new-project.min{
    width: 8%;
}
label[for="file-input"] {
    display: block;
    margin-bottom: 1em;
    font-size: 1em;
    color: #fff;
    opacity: .9;
    font-weight: bold;
  }
input[type="file"] {
    cursor: pointer !important;
    display: block ;
    transition: 0.3s;
    font-size: .75rem;
    width: 90%;
}
input[type="file"]:hover{
    opacity: 0.76;
    transition: 0.3s;
}
input[type="file"]:focus{
    outline: none !important;
}
input[type="file"]::-webkit-file-upload-button {
    border: none;
    padding: 5px 12px;
    background: $black;
    width: 40px;
    height: 40px;
    color: transparent;
    font-size: 1em;
    transition: all .4s;
    cursor: pointer;
    border-radius: 100%;
    background-image: url(../images/plus.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px;
}
input[type="file"]::-ms-browse {
    border: none;
    padding: 5px 12px;
    color: transparent;
    color: #fff;
    background: $black;
    width: 40px;
    height: 40px;
    font-size: 1em;
    transition: all .4s;
    cursor: pointer;
    border-radius: 100%;
    background-image: url(../images/plus.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px;
}
.box-input{
    width: 18%;
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
}
.box-input:last-child{
    margin-right: 0;
}
.box-input .label-i{
    color: $black;
    font-weight: 500;
    text-align: left;
    font-size: .8rem;
}
.log-in {
    background-color: #fff;
    border: 2px solid #000;
    color: #000;
    font-weight: 500;
    text-align: center;
    width: 22%;
    font-size: .85rem;
    margin-top: 10px;
    padding: 5px 10px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
}
.log-in.out{
    width: auto;
    position: absolute;
    right: 2rem;
    padding: 5px 20px;
    top: 1.5rem;
}
.btn-option{
    background-color: $black;
    border-radius: 20px;
    width: auto;
    padding: 5px 25px;
    font-size: .85rem;
    color: $white;
    font-weight: 500;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    border: 2px solid $white;
    margin-right: 22px;
    transition: 0.2s;
}
.btn-new{
    background-color: $black;
    border-radius: 20px;
    width: auto;
    padding: 7px 25px;
    font-size: .85rem;
    color: $white;
    font-weight: 500;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    border: 2px solid $white;
    margin-right: 22px;
    transition: 0.2s;
    transition: 0.3s;
    margin-left: 4rem;
}
.btn-new:focus, .btn-new:hover{
    background-color: $white;
    border: 2px solid $black;
    color: $black;
    outline: none !important;
    transition: 0.3s;
}
.btn-option:hover{
    background-color: $white;
    outline: none !important;
    color: $black;
    transition: 0.2s;
}
.btn-option:focus{
    outline: none !important;
}
.log-in:hover, .log-in:focus{
    background-color: $black;
    color: $white;
    transition: 0.3s;
    outline: none !important;
}
.input-form-admin::-webkit-input-placeholder { /* Edge */
    color: rgba(255,255,255,0.85);
    font-size: 0.9rem;
    font-weight: 500;
}
 
.input-form-admin:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgba(255,255,255,0.85);
    font-size: 0.9rem;
    font-weight: 500;
}  
.input-form-admin::placeholder {
    color: rgba(255,255,255,0.85);
    font-size: 0.9rem;
    font-weight: 500;
}
.input-new-project::-webkit-input-placeholder { /* Edge */
    color: rgba(255,255,255,0.85);
    font-size: 0.9rem;
    font-weight: 500;
}
 
.input-new-project:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgba(255,255,255,0.85);
    font-size: 0.9rem;
    font-weight: 500;
}  
.input-new-project::placeholder {
    color: rgba(255,255,255,0.85);
    font-size: 0.9rem;
    font-weight: 500;
}
.first-part .logo-admin{
    position: absolute;
    left: 2rem;
    top: 1.5rem;
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 50px;
    height: 50px;
}
.form-new-project{
    margin-left: 3rem;
    width: 90%;
    height: auto;
    margin-top: 6rem;
}
.form-new-project .title-form{
    font-size: 2rem;
    display: inline-block;
    width: 100%;
    text-align: left;
    color: $black;
    margin-bottom: 20px;
    font-weight: 600;
}
.footer-main{
    text-align: center;
    color: $black;
    padding: 50px 0;
    font-size: .85rem;
    font-weight: 300;
}
.mobile{
    display: none;
}

/* BIG SCREEN >  */
@media (min-width: 1800px) and (max-width: 1980px){
    .master{
        max-width: 1650px;
    }
    .title-main{
        font-size: 1.7rem;
    }
    .container-rows {
        grid-template-columns: 31% 31% 31%;
        grid-gap: 58px;
        padding-top: 11.5rem;
    }
    .rows-item{
        height: 495px;
    }
    .footer-main{
        font-size: 1rem;
    }
    .logo-fixed {
        position: absolute;
        width: 60px;
        height: 60px;
        top: 2rem;
        left: 2.4rem;
    }
    .fixed-left, .next-style, .prev-style, .fixed-right {
        font-size: .9rem;
    }
    .container-about .about .text-big-h{
        font-size: 15rem;
    }
    .about .text-about {
        font-size: 1.44rem;
        width: 65%;
        margin-top: 0px;
        line-height: 36px;
    }
    .title-middle{
        font-size: 3.5rem;
        margin-top: 5rem;
    }
    .title-small{
        font-size: 1.44rem;
    }
    .rr {
        width: 33px;
        height: 33px;
        margin-top: 20px;
        margin-right: 24px;
    }
}
/* MEDIUM SCREEN > TABLETS */
@media (min-width: 768px) and (max-width: 1024px){
    .title-main{
        font-size: 1.1rem;
    }
    .master {
        max-width: 600px;
    }
    .container-rows {
        grid-template-columns: 30% 30% 30%;
        grid-gap: 30px;
    }
    .rows-item {
        cursor: pointer;
        height: 185px;
    }
    .text {
        font-size: .65rem;
    }
    .logo-fixed {
        width: 30px;
        height: 30px;
        z-index: 9999;
        top: 2.7rem;
        left: 2rem;
    }
    .container-about .about {
        height: 100%;
        vertical-align: top;
        width: 60%;
        padding-top: 5rem;
        display: inline-block;
    }
    .container-about .picture {
        background-position: 90% 28%;
        background-size: contain;
        vertical-align: top;
    }
    .about .text-about {
        font-size: .85rem;
        width: 75%;
        opacity: 0.9;
        color: #fff;
        font-weight: 400;
        text-align: left;
        display: inline-block;
        margin-top: 0px;
        line-height: 22px;
    }
}
/*BIG SCREEN > LAPTOPS / DESKTOPS */
@media (max-width: 1125px){
    

}

/* SMALL SCREEN > MOBILE */
@media (max-width: 760px){
    .master {
        max-width: 290px;
        margin: 0 auto;
        background-color: pink;
    }
    .no-mobile{
        display: none;
    }
    .av-mob {
        display: block;
        position: relative;
        top:50% !important;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    .ah-mob {
        display: block;
        margin-left:50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
    }
    .ac-mob {
       display: block;
        position: relative;
        left:50%;
        top: 50%;
        -webkit-transform: translate(-50%,-50%);
        -ms-transform: translateX(-50%,-50%);
        transform: translateX(-50%,-50%);
    }
    .logo-fixed {
        top: 3rem;
        left: 0;
        z-index: 99;
    }
    .container-rows {
        margin-top: 0;
        padding-top: 9.5rem;
        grid-template-columns: 45% 45%;
        grid-gap: 25px;
    }
    .rows-item {
        height: 125px;
    }
    .fixed-left {
        position: fixed;
        left: .2rem;
        text-align: center;
        transform: translateY(-50%);
        font-size: .74rem;
        transform: rotate(-90deg);
        cursor: pointer;
        font-weight: 700;
    }
    .next-style {
        position: fixed;
        right: -1.6rem
    }
    .footer-main {
        font-size: .78rem;
    }
    .title-main.white {
        color: #fff;
        font-size: .75rem;
    }
    .header-fixed{
        height: 5rem;
    }
    .container-about {
        height: calc(100vh - 5rem);
        margin-top: 4rem;
    }
    .container-about .picture {
        height: 30rem;
        opacity: 0.4;
        width: 100%;
        bottom: 0px;
        position: absolute;
        display: inline-block;
        background-size: 18rem;
        vertical-align: top;
        background-position: bottom;
    }
    .about .text-about {
        font-size: .75rem;
        width: 70%;
        margin-left: 15%;
        opacity: .98;
        color: #fff;
        font-weight: 500;
        text-align: left;
        display: inline-block;
        margin-top: -18px;
        line-height: 18px;
    }
    .container-about .about{
        width: 100%;
    }
    .container-about .about .text-big-h {
        font-weight: 700;
        opacity: .25;
        margin-left: -1.5rem;
        font-size: 5rem;
        letter-spacing: 5px;
    }
    .title-middle {
        display: inline-table;
        margin-top: 20px;
        position: absolute;
        text-align: left;
        font-size: 1.8rem;
        width: 100%;
        opacity: .6;
        left: -.5rem;
        bottom: 3rem;
    }
    .title-small {
        font-size: .85rem;
        left: 4rem;
        bottom: 2rem;
        position: absolute;
        opacity: 1;
        color: #fff;
        margin-top: -5px;
        width: 100%;
        font-weight: 500;
        text-align: left;
        display: inline-block;
    }
    .container-rr{
        bottom: 1.5rem;
        left: 16rem;
        position: absolute;
    }
    .text {
        font-size: .6rem;
    }

}